<style>
td
{
  font-size:70%;
}
td.line
{
  height:40px;
  min-height:40px;
  min-width:40px;
  position:relative;
}
td.line img
{
  width:100%;
  height:100%;
}
td.person
{
  border:2px solid black;
}
td.person.focus
{
  background-color:skyblue;
}
</style>
<script>
function showMarriages()
{
    var marriageHandle = document.getElementById('marriage-find').value;
    var marriageCells = document.getElementsByClassName(marriageHandle + '-MARRIAGE');
    for (var index = 0; index < marriageCells.length; index++)
    {
        marriageCells[index].style.backgroundColor = 'pink';
    }
}
</script>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person NULL-MARRIAGE">(left0) <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-iaroslav1" target="_blank">unknown  (unknown-wife-iaroslav1)</a></td>
    <td class="line NULL-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person NULL-MARRIAGE focus">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaroslav1" target="_blank">Iaroslav Vladimirich (iaroslav1)</a></td>
    <td class="line NULL-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person NULL-MARRIAGE">(right0) <a href="http://genealogy.obdurodon.org/findPerson.php?person=ingigerd" target="_blank">Ingigerd  (ingigerd)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav1-unknown-wife-iaroslav1-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav1-unknown-wife-iaroslav1-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person iaroslav1-unknown-wife-iaroslav1-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ilia1" target="_blank">Ilia Iaroslavich (ilia1)</a></td>
    <td></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vladimir2" target="_blank">Vladimir Iaroslavich (vladimir2)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vladimir2" target="_blank">unknown  (unknown-wife-vladimir2)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iziaslav2" target="_blank">Iziaslav Iaroslavich (iziaslav2)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=gertrude" target="_blank">Gertrude  (gertrude)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=agafia" target="_blank">Agafia Iaroslavna (agafia)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=edward" target="_blank">Edward  (edward)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=anastasia" target="_blank">Anastasia Iaroslavna (anastasia)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=andrew" target="_blank">Andrew  (andrew)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=kilikia" target="_blank">Kilikia  (kilikia)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sviatoslav3" target="_blank">Sviatoslav Iaroslavich (sviatoslav3)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=oda" target="_blank">Oda of Stade  (oda)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=elisabeth" target="_blank">Elisabeth Iaroslavna (elisabeth)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=harald1" target="_blank">Harald Sigurtharson (harald1)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=henry1" target="_blank">Henry I Capet (henry1)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=anna2" target="_blank">Anna Iaroslavna (anna2)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=raoul" target="_blank">Raoul de Crépy (raoul)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=monomakhina" target="_blank">Monomakhina  (monomakhina)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vsevolod2" target="_blank">Vsevolod Iaroslavich (vsevolod2)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vsevolod2" target="_blank">unknown  (unknown-wife-vsevolod2)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=igor2" target="_blank">Igor′ Iaroslavich (igor2)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-igor2" target="_blank">unknown  (unknown-wife-igor2)</a></td>
    <td></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">[2]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=viacheslav1" target="_blank">Viacheslav Iaroslavich (viacheslav1)</a></td>
    <td class="line iaroslav1-ingigerd-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iaroslav1-ingigerd-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-viacheslav1" target="_blank">unknown  (unknown-wife-viacheslav1)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vladimir2-unknown-wife-vladimir2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-kilikia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-oda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line viacheslav1-unknown-wife-viacheslav1-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vladimir2-unknown-wife-vladimir2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-kilikia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-oda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line viacheslav1-unknown-wife-viacheslav1-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person vladimir2-unknown-wife-vladimir2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=lanka" target="_blank">Lanka daughter of Bela I (lanka)</a></td>
    <td class="line vladimir2-unknown-wife-vladimir2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person vladimir2-unknown-wife-vladimir2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav" target="_blank">Rostislav Vladimirich (rostislav)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="iziaslav2-gertrude-MARRIAGE">Stagger Placeholder: 1 (NoJump, Children: 9)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="edward-agafia-MARRIAGE">Stagger Placeholder: 2 (NoJump, Children: 4)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="andrew-anastasia-MARRIAGE">Stagger Placeholder: 3 (NoJump, Children: 5)</td>    <td></td>
    <td></td>
    <td class="sviatoslav3-kilikia-MARRIAGE">Stagger Placeholder: 5 (Jump, Children: 8)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="sviatoslav3-oda-MARRIAGE">Stagger Placeholder: 4 (NoJump, Children: 2)</td>    <td></td>
    <td></td>
    <td class="harald1-elisabeth-MARRIAGE">Stagger Placeholder: 6 (NoJump, Children: 3)</td>    <td></td>
    <td></td>
    <td class="henry1-anna2-MARRIAGE">Stagger Placeholder: 7 (NoJump, Children: 6)</td>    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="vsevolod2-monomakhina-MARRIAGE">Stagger Placeholder: 8 (NoJump, Children: 4)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="vsevolod2-unknown-wife-vsevolod2-MARRIAGE">Stagger Placeholder: 9 (NoJump, Children: 5)</td>    <td></td>
    <td></td>
    <td class="igor2-unknown-wife-igor2-MARRIAGE">Stagger Placeholder: 10 (NoJump, Children: 4)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="person viacheslav1-unknown-wife-viacheslav1-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=boris2" target="_blank">Boris Viacheslavich (boris2)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-oda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/up-right.png" title="UP  RIGHT " /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatoslav3-oda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/up-right.png" title="UP  RIGHT " /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person rostislav-lanka-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=riurik" target="_blank">Riurik Rostislavich (riurik)</a></td>
    <td></td>
    <td class="person rostislav-lanka-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=volodar" target="_blank">Volodar′ Rostislavich (volodar)</a></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person rostislav-lanka-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-volodar" target="_blank">unknown  (unknown-wife-volodar)</a></td>
    <td></td>
    <td class="person rostislav-lanka-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vasilko" target="_blank">Vasil′ko Rostislavich (vasilko)</a></td>
    <td class="line rostislav-lanka-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person rostislav-lanka-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vasilko" target="_blank">unknown  (unknown-wife-vasilko)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="person edward-agafia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=edgar" target="_blank">Edgar  (edgar)</a></td>
    <td></td>
    <td class="person edward-agafia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=christina" target="_blank">Christina  (christina)</a></td>
    <td></td>
    <td class="person edward-agafia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=margaret" target="_blank">Margaret  (margaret)</a></td>
    <td class="line edward-agafia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person edward-agafia-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=malcolm" target="_blank">Malcolm III  (malcolm)</a></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person sviatoslav3-oda-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-iaroslav2" target="_blank">unknown  (unknown-wife-iaroslav2)</a></td>
    <td class="line sviatoslav3-oda-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person sviatoslav3-oda-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaroslav2" target="_blank">Iaroslav Sviatoslavich (iaroslav2)</a></td>
    <td></td>
    <td class="person harald1-elisabeth-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=maria4" target="_blank">Maria  (maria4)</a></td>
    <td></td>
    <td class="person harald1-elisabeth-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ingigerd2" target="_blank">Ingigerd  (ingigerd2)</a></td>
    <td class="line harald1-elisabeth-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person harald1-elisabeth-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=olav1" target="_blank">Olav Sveinsson (olav1)</a></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="person vsevolod2-monomakhina-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=gyda" target="_blank">Gyða Haroldsdottir (gyda)</a></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person vsevolod2-monomakhina-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vladimir3" target="_blank">Vladimir Vsevolodich (vladimir3)</a></td>
    <td class="line vsevolod2-monomakhina-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person vsevolod2-monomakhina-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vladimir3" target="_blank">unknown  (unknown-wife-vladimir3)</a></td>
    <td></td>
    <td class="person vsevolod2-monomakhina-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ianka" target="_blank">Ianka Vsevolodovna (ianka)</a></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="person igor2-unknown-wife-igor2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=david" target="_blank">David Igorich (david)</a></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person igor2-unknown-wife-igor2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-david" target="_blank">unknown  (unknown-wife-david)</a></td>
    <td></td>
    <td class="person igor2-unknown-wife-igor2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vsevolod3" target="_blank">Vsevolod Igorich (vsevolod3)</a></td>
    <td class="line igor2-unknown-wife-igor2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person igor2-unknown-wife-igor2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vsevolod3" target="_blank">unknown  (unknown-wife-vsevolod3)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line vladimir3-gyda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vladimir3-unknown-wife-vladimir3-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line david-unknown-wife-david-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod3-unknown-wife-vsevolod3-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line vladimir3-gyda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vladimir3-unknown-wife-vladimir3-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line david-unknown-wife-david-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod3-unknown-wife-vsevolod3-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mstislav2" target="_blank">Mstislav Iziaslavich (mstislav2)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-mstislav2" target="_blank">unknown  (unknown-wife-mstislav2)</a></td>
    <td></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-sviatopolk2" target="_blank">N. N. daughter of Tugorkhan (unknown-wife-sviatopolk2)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sviatopolk2" target="_blank">Sviatopolk Iziaslavich (sviatopolk2)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-concubine-sviatopolk2" target="_blank">unknown  (unknown-concubine-sviatopolk2)</a></td>
    <td></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaropolk2" target="_blank">Iaropolk Iziaslavich (iaropolk2)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=cunigunda" target="_blank">Cunigunda  (cunigunda)</a></td>
    <td></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=evdoksia" target="_blank">N.N. Iziaslavna (evdoksia)</a></td>
    <td class="line iziaslav2-gertrude-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iziaslav2-gertrude-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mieszko3" target="_blank">Mieszko  (mieszko3)</a></td>
    <td></td>
    <td class="person andrew-anastasia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=salomon" target="_blank">Salomon  (salomon)</a></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person andrew-anastasia-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=judith" target="_blank">Judith daughter of Henry III (judith)</a></td>
    <td></td>
    <td class="person andrew-anastasia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=david3" target="_blank">David  (david3)</a></td>
    <td></td>
    <td class="person andrew-anastasia-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=adelheid" target="_blank">Adelheid daughter of Andrew (adelheid)</a></td>
    <td class="line andrew-anastasia-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person andrew-anastasia-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vratislav" target="_blank">Vratislav II  (vratislav)</a></td>
    <td class="iaroslav2-unknown-wife-iaroslav2-MARRIAGE">Stagger Placeholder: 13 (NoJump, Children: 5)</td>    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="vladimir3-gyda-MARRIAGE">Stagger Placeholder: 11 (Jump, Children: 17)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="vladimir3-unknown-wife-vladimir3-MARRIAGE">Stagger Placeholder: 14 (Jump, Children: 5)</td>    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td class="person david-unknown-wife-david-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=agafia2" target="_blank">Agafia Vladimirovna (agafia2)</a></td>
    <td class="line david-unknown-wife-david-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person david-unknown-wife-david-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vsevolodko" target="_blank">Vsevolodko Davidich (vsevolodko)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person vsevolod3-unknown-wife-vsevolod3-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mstislav3" target="_blank">Mstislav Vsevolodich (mstislav3)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line mstislav2-unknown-wife-mstislav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line mstislav2-unknown-wife-mstislav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person mstislav2-unknown-wife-mstislav2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav3" target="_blank">Rostislav Mstislavich (rostislav3)</a></td>
    <td></td>
    <td></td>
    <td class="sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">Stagger Placeholder: 12 (NoJump, Children: 13)</td>    <td></td>
    <td></td>
    <td></td>
    <td class="sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE">Stagger Placeholder: 15 (NoJump, Children: 1)</td>    <td></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaroslav3" target="_blank">Iaroslav Iaropolchich (iaroslav3)</a></td>
    <td></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-iaropolk2" target="_blank">N. N. Iaropolkovna (unknown-daughter-iaropolk2)</a></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=gleb4" target="_blank">Gleb Vseslavich (gleb4)</a></td>
    <td></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=viacheslav2" target="_blank">Viacheslav Iaropolchich (viacheslav2)</a></td>
    <td></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter2-iaropolk2" target="_blank">N. N. Iaropolkovna (unknown-daughter2-iaropolk2)</a></td>
    <td class="line iaropolk2-cunigunda-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaropolk2-cunigunda-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=gunther" target="_blank">Gunther  (gunther)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="person henry1-anna2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=bertha" target="_blank">Bertha of Holland (bertha)</a></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person henry1-anna2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=philip" target="_blank">Philip  (philip)</a></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person henry1-anna2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=bertrada" target="_blank">Bertrada of Anjou (bertrada)</a></td>
    <td></td>
    <td class="person henry1-anna2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=robert" target="_blank">Robert  (robert)</a></td>
    <td></td>
    <td class="person henry1-anna2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=hugh" target="_blank">Hugh  (hugh)</a></td>
    <td class="line henry1-anna2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person henry1-anna2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=adele" target="_blank">Adele of Vermandois (adele)</a></td>
    <td class="person vsevolod2-unknown-wife-vsevolod2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav2" target="_blank">Rostislav Vsevolodovich (rostislav2)</a></td>
    <td></td>
    <td class="person vsevolod2-unknown-wife-vsevolod2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=henry" target="_blank">Henry III of Stade (henry)</a></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person vsevolod2-unknown-wife-vsevolod2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=evpraksia" target="_blank">Evpraksia Vsevolodovna (evpraksia)</a></td>
    <td class="line vsevolod2-unknown-wife-vsevolod2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person vsevolod2-unknown-wife-vsevolod2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=henry4" target="_blank">Henry IV  (henry4)</a></td>
    <td></td>
    <td class="person vsevolod2-unknown-wife-vsevolod2-MARRIAGE">[3]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=katerina" target="_blank">Katerina Vsevolodovna (katerina)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=predslava2" target="_blank">Predslava Sviatopolkovna (predslava2)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=almos" target="_blank">Almos  (almos)</a></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=daughter-of-ladislaus" target="_blank">unknown daughter of Ladislaus (daughter-of-ladislaus)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=daughter-of-wladyslaw" target="_blank">unknown daughter of Władysław Herman (daughter-of-wladyslaw)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaroslav4" target="_blank">Iaroslav Sviatopolchich (iaroslav4)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=daughter-of-mstislav5" target="_blank">N.N. Mstislavna (daughter-of-mstislav5)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-iaroslav4" target="_blank">unknown  (unknown-wife-iaroslav4)</a></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iziaslav4" target="_blank">Iziaslav Sviatopolchich (iziaslav4)</a></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sbyslava" target="_blank">Sbyslava Sviatopolkovna (sbyslava)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=boleslaw3" target="_blank">Bolesław III  (boleslaw3)</a></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=maria3" target="_blank">Maria Sviatopolkovna (maria3)</a></td>
    <td class="line sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=piotr" target="_blank">Piotr Wlostiwic (piotr)</a></td>
    <td></td>
    <td class="person sviatopolk2-unknown-wife-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=briacheslav2" target="_blank">Briacheslav Sviatopolchich (briacheslav2)</a></td>
    <td></td>
    <td></td>
    <td class="person sviatopolk2-unknown-concubine-sviatopolk2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mstislav4" target="_blank">Mstislav Sviatopolchich (mstislav4)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person iaroslav2-unknown-wife-iaroslav2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sviatoslav7" target="_blank">Sviatoslav Iaroslavich (sviatoslav7)</a></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav2-unknown-wife-iaroslav2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-sviatoslav7" target="_blank">unknown  (unknown-wife-sviatoslav7)</a></td>
    <td></td>
    <td class="person iaroslav2-unknown-wife-iaroslav2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav9" target="_blank">Rostislav Iaroslavich (rostislav9)</a></td>
    <td class="line iaroslav2-unknown-wife-iaroslav2-MARRIAGE"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person iaroslav2-unknown-wife-iaroslav2-MARRIAGE">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-rostislav9" target="_blank">unknown  (unknown-wife-rostislav9)</a></td>
    <td></td>
    <td class="person iaroslav2-unknown-wife-iaroslav2-MARRIAGE">[4]() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iurii2" target="_blank">Iurii Iaroslavich (iurii2)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>
<input type="text" id="marriage-find" /> <input type="button" onclick="showMarriages();" value="Highlight" />
