<style>
td
{
  font-size:70%;
}
td.line
{
  height:40px;
  min-height:40px;
  min-width:40px;
  position:relative;
}
td.line img
{
  width:100%;
  height:100%;
}
td.person
{
  border:2px solid black;
}
td.person.focus
{
  background-color:skyblue;
}
</style>
<script>
function showMarriages()
{
    var marriageHandle = document.getElementById('marriage-find').value;
    var marriageCells = document.getElementsByClassName(marriageHandle + '-MARRIAGE');
    for (var index = 0; index < marriageCells.length; index++)
    {
        marriageCells[index].style.backgroundColor = 'pink';
    }
}
</script>
<table>
  <tr>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=czech1" target="_blank">First Czech woman  (czech1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=rogneda" target="_blank">Rogned′  (rogneda)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=czech2" target="_blank">Second Czech woman  (czech2)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person focus"><a href="http://genealogy.obdurodon.org/findPerson.php?person=vladimir1" target="_blank">Volodimer Svjatoslavič (vladimir1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=bulgar" target="_blank">Bulgar woman  (bulgar)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=anna1" target="_blank">Anna  (anna1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person"><a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vladimir1" target="_blank">unknown  (unknown-wife-vladimir1)</a></td>
</tr>
</table>
