<style>
td
{
  font-size:70%;
}
td.line
{
  height:40px;
  min-height:40px;
  min-width:40px;
  position:relative;
}
td.line img
{
  width:100%;
  height:100%;
}
td.person
{
  border:2px solid black;
}
td.person.focus
{
  background-color:skyblue;
}
</style>
<table>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">(left2) <a href="http://genealogy.obdurodon.org/findPerson.php?person=czech1" target="_blank">First Czech woman  (czech1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(left1) <a href="http://genealogy.obdurodon.org/findPerson.php?person=rogneda" target="_blank">Rogned′  (rogneda)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(left0) <a href="http://genealogy.obdurodon.org/findPerson.php?person=czech2" target="_blank">Second Czech woman  (czech2)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person focus">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vladimir1" target="_blank">Volodimer Svjatoslavič (vladimir1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(right0) <a href="http://genealogy.obdurodon.org/findPerson.php?person=bulgar" target="_blank">Bulgar woman  (bulgar)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(right1) <a href="http://genealogy.obdurodon.org/findPerson.php?person=anna1" target="_blank">Anna  (anna1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(right2) <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vladimir1" target="_blank">unknown  (unknown-wife-vladimir1)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical-right.png" title="UP DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=vysheslav1" target="_blank">Vysheslav Vladimirich (vysheslav1)</a></td>
    <td></td>
    <td>Stagger Placeholder: 1 (NoJump, Children: 11)</td>    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sviatoslav2" target="_blank">Sviatoslav Vladimirich (sviatoslav2)</a></td>
    <td></td>
    <td class="person">(MIDDLE-NO) <a href="http://genealogy.obdurodon.org/findPerson.php?person=mstislav" target="_blank">Mstislav Vladimirich (mstislav)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=boris1" target="_blank">Boris Vladimirich (boris1)</a></td>
    <td></td>
    <td class="person">(MIDDLE-NO) <a href="http://genealogy.obdurodon.org/findPerson.php?person=gleb" target="_blank">Gleb Vladimirich (gleb)</a></td>
    <td></td>
    <td></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=dobronega-maria" target="_blank">Dobronega-Maria Vladimirovna (dobronega-maria)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=casimir" target="_blank">Casimir  (casimir)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=stanislav1" target="_blank">Stanislav Vladimirich (stanislav1)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=pozvizd" target="_blank">Pozvizd Vladimirich (pozvizd)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sudislav" target="_blank">Sudislav Vladimirich (sudislav)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=premislava" target="_blank">N.N. Vladimirovna (premislava)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ladislaus" target="_blank">Ladislaus  (ladislaus)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/up-left.png" title="UP   LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical-right.png" title="UP DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-vladimir1" target="_blank">N.N. Vladimirovna (unknown-daughter-vladimir1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=bernhard" target="_blank">Bernhard  (bernhard)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-iaroslav1" target="_blank">unknown  (unknown-wife-iaroslav1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iaroslav1" target="_blank">Iaroslav Vladimirich (iaroslav1)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ingigerd" target="_blank">Ingigerd  (ingigerd)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=iziaslav1" target="_blank">Iziaslav Vladimirich (iziaslav1)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-iziaslav1" target="_blank">unknown  (unknown-wife-iziaslav1)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=predslava" target="_blank">Predslava Vladimirovna (predslava)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vsevolod1" target="_blank">Vsevolod Vladimirich (vsevolod1)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mstislav1" target="_blank">Mstislav Vladimirich (mstislav1)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">(MIDDLE-NO) <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-mstislav1" target="_blank">unknown  (unknown-wife-mstislav1)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=boleslaw2" target="_blank">Bolesław II  (boleslaw2)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vysheslava" target="_blank">Vysheslava Sviatoslavna (vysheslava)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=judith2" target="_blank">Judith daughter of Vratislav II (judith2)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=wladyslaw" target="_blank">Władysław Herman  (wladyslaw)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=judith" target="_blank">Judith daughter of Henry III (judith)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=mieszko" target="_blank">Mieszko  (mieszko)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=otto1" target="_blank">Otto  (otto1)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sviatoslava" target="_blank">Sviatoslava  (sviatoslava)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vratislav" target="_blank">Vratislav II  (vratislav)</a></td>
    <td></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=andrew" target="_blank">Andrew  (andrew)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=anastasia" target="_blank">Anastasia Iaroslavna (anastasia)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=bela1" target="_blank">Bela  (bela1)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-mieszko2" target="_blank">unknown daughter of Mieszko II (unknown-daughter-mieszko2)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=Levente" target="_blank">Levente  (Levente)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/cross.png" title="UP DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td class="line"><img src="images/up-right.png" title="UP  RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=evdoksia" target="_blank">N.N. Iziaslavna (evdoksia)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=mieszko3" target="_blank">Mieszko  (mieszko3)</a></td>
    <td></td>
    <td></td>
    <td>Stagger Placeholder: 2 (NoJump, Children: 3)</td>    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=salomon" target="_blank">Salomon  (salomon)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=judith" target="_blank">Judith daughter of Henry III (judith)</a></td>
    <td></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=david3" target="_blank">David  (david3)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=adelheid" target="_blank">Adelheid daughter of Andrew (adelheid)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vratislav" target="_blank">Vratislav II  (vratislav)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=lanka" target="_blank">Lanka daughter of Bela I (lanka)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav" target="_blank">Rostislav Vladimirich (rostislav)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=sbyslava" target="_blank">Sbyslava Sviatopolkovna (sbyslava)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=boleslaw3" target="_blank">Bolesław III  (boleslaw3)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-boleslaw3" target="_blank">Salomea  (unknown-wife-boleslaw3)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=riurik" target="_blank">Riurik Rostislavich (riurik)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=volodar" target="_blank">Volodar′ Rostislavich (volodar)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">(MIDDLE-HAS) <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-volodar" target="_blank">unknown  (unknown-wife-volodar)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vasilko" target="_blank">Vasil′ko Rostislavich (vasilko)</a></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-wife-vasilko" target="_blank">unknown  (unknown-wife-vasilko)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/vertical.png" title="UP DOWN  " /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/right-down.png" title=" DOWN RIGHT " /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/up-left-right.png" title="UP  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td class="line"><img src="images/up-right.png" title="UP  RIGHT " /></td>
    <td class="line"><img src="images/horizontal-down.png" title=" DOWN RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="line"><img src="images/left-down.png" title=" DOWN  LEFT" /></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=rostislav5" target="_blank">Rostislav Volodarich (rostislav5)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vladimirko" target="_blank">Vladimirko Volodarich (vladimirko)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-of-koloman" target="_blank">unknown daughter of Koloman (unknown-daughter-of-koloman)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-volodar" target="_blank">N.N. Volodarovna (unknown-daughter-volodar)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-tsarevich" target="_blank">N.N. Comnenus (unknown-tsarevich)</a></td>
    <td></td>
    <td class="person">(MIDDLE-NO) <a href="http://genealogy.obdurodon.org/findPerson.php?person=daughter-of-volodar" target="_blank">N.N. Volodarovna (daughter-of-volodar)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=roman2" target="_blank">Roman Vladimirich (roman2)</a></td>
    <td></td>
    <td class="person">(MIDDLE-NO) <a href="http://genealogy.obdurodon.org/findPerson.php?person=unknown-daughter-vasilko" target="_blank">N. N. Vasilkovna (unknown-daughter-vasilko)</a></td>
    <td class="line"><img src="images/horizontal.png" title="  RIGHT LEFT" /></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=vratislav2" target="_blank">Vratislav  (vratislav2)</a></td>
    <td></td>
    <td class="person">() <a href="http://genealogy.obdurodon.org/findPerson.php?person=ivan" target="_blank">Ivan Vasilkovich (ivan)</a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</table>
